<!DOCTYPE html>
<html>
  <head>
    <title>schedule</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <header>
    <h1>Ruby on Rails スケジュール管理アプリケーション</h1>
   </header>
   <%= yield %>
   <footer>
    <h1>現在の日時: <%= get_today_date %> スケジュール合計: <%= User.count%></h1>
   </footer>
  </body>
</html>
